
/* src/Portfolio.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .portfolio-container {
    position: relative;
    height: 100%;
  }
  
  .name-image-wrapper {
    position: relative;
    overflow: hidden;
    height: 80%;
    width: 100%;
  }
  
  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }
  .namer {
    margin: 0;
    position: relative;
  }
  
  .namer::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 20;
    height: 2px;
    background-color: #357dc9; /* Replace with your desired color */
    transition: width 0.3s; /* Adjust the speed of the sliding effect */
  }
  
  .namer:hover::after {
    width: 100%;
  }
  
  
  