/* Navbar styles */
.navbar {
    padding: 10;
    margin-left:auto; 
    margin-right:auto;
   width:100%;
  }

  .nav-container{
    justify-content: flex-end;
    align-items: end;
  }
  
  .navbar-nav{
    justify-content: flex-end;

  }
  .navbar-nav .nav-item {
    margin-right: 5px;
  }
  
  .nav-link {
    cursor: pointer;
    border: none;
    background: rgb(82, 61, 23);
    outline:#a1c247;
    font-weight: normal;
    color: #c11919; /* Change this to your desired text color */
    transition: font-weight 0.3s, transform 0.3s; /* Add transitions for font-size and transform */
    position: relative;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2da81f; /* Change this to your desired underline color */
    transition: width 0.3s; /* Add transition for the width property */
  }
  
  .nav-link:hover {
    text-decoration:none; 
    font-weight: bold;
    transition: 0.2s;/* Enlarge the size by 10% on hover */
  }
  
  .nav-link:hover::after {
    width: 100%; /* Slide the underline to full width on hover */
  }
  