.title-bar {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
}

.title-bar h1 {
  margin: 0;
  position: relative;
}

.title-bar h1::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #007bff; /* Replace with your desired color */
  transition: width 0.3s; /* Adjust the speed of the sliding effect */
}

.title-bar h1:hover::after {
  width: 100%;
}
.intro{
    margin: 20;
}
