.title-bar {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border-radius: 10;
  border-width: 5;
  border-color: aquamarine;
}

.title-bar h1 {
  margin: 0;
  position: relative;
  color:aliceblue;
}

.title-bar h1::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #92f017; 
  transition: width 0.3s; 
}

.title-bar h1:hover::after {
  width: 100%;
}
.intro{
    margin: 20;
}
