body {
    background-color: #312a2a; /* Change this to your desired background color (e.g., light gray) */
  }
  body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }